.screen > img{
  min-width: 100%;
  min-height: 100%;
  width: 100%;
}

.screen {
  height: 100%;
  overflow: hidden;
}

.comp {
  width: 100%;
  text-align: center;
}
.comp .monitor {
  width: 600px;
  height: 400px;
  display: block;
  margin: 0 auto;
  border-radius: 10px 10px 0px 0px;
  padding: 9px;
  border: solid 1px #e0e2e2;
  background-color: black;
  overflow: hidden;
}
.base {
  width: 750px;
  height: 25px;
  background: #e0e2e2;
  display: block;
  margin: 0 auto;
  border-radius: 0px 0px 6px 6px;
}
